<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>mrmcs.in</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>
    <div id="nav" class="nav-div fixed-top">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <!-- <img class="navbar-logo" src="" alt="logo"> -->
                <a class="navbar-brand" href="#"><span class="text-warning">Mrmcs</span>.in</a>
                <button class="navbar-toggler" type="" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                            <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a> -->

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#services">Services</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#contact">Contact Us <span
                                    class="toggle" id="toggle-contact"></span></a>
                        </li>
                    </ul>
        </nav>
    </div>
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
		<div class="carousel-indicators">
			<button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
		</div>
	
		<div class="carousel-inner">
			<div class="carousel-item active c-item">
				<img alt="..." class="d-block w-100 c-img" src="\components\images\images-2.webp">
				<div class="carousel-caption">
					<h5></h5>
					<p></p>
					<!-- <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p> -->
				</div>
			</div>
            
			<div class="carousel-item c-item">
				<img alt="..." class="d-block w-100 c-img" src="\components\images\retails-2.jpg">
				<div class="carousel-caption">
					<h5></h5>
					<p></p>
					<!-- <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p> -->
				</div>
			</div>
			<div class="carousel-item c-item">
				<img alt="..." class="d-block w-100 c-img" src="\components\images\retails.jpg">
				<div class="carousel-caption">
					<h5></h5>
					<p></p>
					<!-- <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p> -->
				</div>
			</div>
		</div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
	</div>
    <div class="main">
        <div class="body-paragraph">
            <p class="paragraph">
            <h4> Marathwada Region Middle Class Society (MRMCS)</h4> is an innovative and
            Newly Start- up business with various ideas and concepts to enrich and eradicate low
            income group people and middle class people, and it is an idea of <b>Mr.Srinivas Gandhi
            Macherla and he is the Chief Mentor of the Projects.</b> 
            And Mr.Gandhi has a great financial
            vision and he intends to focus his attention on growth of rural economy throughout the
            country. <br><br><b>Mr.Gandhi has mixed urban and rural background.</b><br>  He has made in-depth
            study of the projects to run it on co- operative lines coupled with membership drive. The
            ultimate beneficiaries of this projects are it's subscriber members. And unemployed youth
            can be benefited through this projects.<br><br>
            The projects will provide vision by 23-30 ie ; (with in seven year's) and it is the
            members to choose One or more out of several ideas set out through our prestigious 9
            major service providers which are interlinked with our so called operation <b> "For Your
            Service"</b> which is major segment of MRMCS Company. <br><br>
            <h5> Our 9 major service providers are :</h5>
            <h6> <b> 1)</b> MRMCS Retails</h6>
            <h6> <b> 2)</b> MRMCS Rural Economy & Agricultural Development Centre (READC)</h6>
            <h6> <b> 3)</b> MRMCS Small Scale & Cottage Industries (SSCI) </h6>
            <h6> <b> 4)</b> MRMCS Inter State & Inter District General Trading (ISIDGT)</h6>
            <h6> <b> 5)</b> MRMCS Small Financial & Micro Finance Services (SFMFS)</h6>
            <h6> <b> 6)</b> MRMCS Housing Project(HP)</h6>
            <h6> <b> 7)</b> MRMCS Residential Schools, Colleges,& University</h6>
            <h6> <b> 8)</b> MRMCS Ashram's (Old Age Homes) Hospital's, Clinic's, & Dispensaries, Yoga & Meditation Centers,
                Games,
                Sports & Libraries</h6>
            <h6> <b> 9)</b> MRMCS Time Share Cottages, Resorts, Hotels, Hostels, Canteens,Call Taxi, Tour's & Travels.</h6>
            There is a vast scope for see saw change in the members families on enrollment
            themselves as member of Marathwada Region Middle Class Society ( MRMCS ).
            The feasibility of this projects was discussed with several socio economic thinkers
            and they raised their eyebrows on knowing the idea of this well knitted projects. There is a
            lot of appreciation for the projects from the ideologists. Nothing is impossible in this magic
            world provided you put up your bit of effort. No wonder it we say that the projects win
            receive the best attention of the public in all walks of life. We have vision and you have
            dynamism, if both are coupled with it will make wonders. This is what we wish and intend to
            achieve.
            
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
     
</body>

</html>