<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mrmcs.in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>
    <div id="nav" class="nav-div fixed-top">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <!-- <img class="navbar-logo" src="" alt="logo"> -->
                <a class="navbar-brand" href="#"><span class="brand text-warning">Mrmcs</span><span
                        class="brand">.in</span></a>
                <button class="navbar-toggler" type="" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                            <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a> -->

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#services">Services</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#contact">Contact Us <span
                                    class="toggle" id="toggle-contact"></span></a>
                        </li>
                    </ul>
        </nav>
    </div>
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
        <div class="carousel-indicators">
            <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
                type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1"
                data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3"
                data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active c-item1">
                <img alt="..." class="d-block w-100 c-img1" src="./images/12.JPG">
                <div class="carousel-caption">
                    <h5></h5>
                    <p></p>
                    <!-- <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p> -->
                </div>
            </div>

            <div class="carousel-item c-item2">
                <img alt="..." class="d-block w-100 c-img2" src="./images/11.JPG">
                <div class="carousel-caption">
                    <h5></h5>
                    <p></p>
                    <!-- <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p> -->
                </div>
            </div>
            <div class="carousel-item c-item3">
                <img alt="..." class="d-block w-100 c-img3" src="./images\9.jpg">
                <div class="carousel-caption">
                    <h5></h5>
                    <p></p>
                    <!-- <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p> -->
                </div>
            </div>
        </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
            type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span
                class="visually-hidden">Previous</span></button> <button class="carousel-control-next"
            data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true"
                class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
    </div>
    <div class="main">
        <div class="body-paragraph">
            <p class="paragraph">
            <h4> Marathwada Region Middle Class Society (MRMCS)</h4> is an innovative and
            Newly Start- up business with various ideas and concepts to enrich and eradicate low
            income group people and middle class people, and it is an idea of <b>Mr.Srinivas Gandhi
                Macherla and he is the Chief Mentor of the Projects.</b>
            And Mr.Gandhi has a great financial
            vision and he intends to focus his attention on growth of rural economy throughout the
            country. <br><br><b>Mr.Gandhi has mixed urban and rural background.</b><br> He has made in-depth
            study of the projects to run it on co- operative lines coupled with membership drive. The
            ultimate beneficiaries of this projects are it's subscriber members. And unemployed youth
            can be benefited through this projects.<br><br>
            The projects will provide vision by 23-30 ie ; (with in seven year's) and it is the
            members to choose One or more out of several ideas set out through our prestigious 9
            major service providers which are interlinked with our so called operation <b> "For Your
                Service"</b> which is major segment of MRMCS Company. <br><br>
            <h5> Our 9 major service providers are :</h5>
            <h6> <b> 1)</b> MRMCS Retails</h6>
            <h6> <b> 2)</b> MRMCS Rural Economy & Agricultural Development Centre (READC)</h6>
            <h6> <b> 3)</b> MRMCS Small Scale & Cottage Industries (SSCI) </h6>
            <h6> <b> 4)</b> MRMCS Inter State & Inter District General Trading (ISIDGT)</h6>
            <h6> <b> 5)</b> MRMCS Small Financial & Micro Finance Services (SFMFS)</h6>
            <h6> <b> 6)</b> MRMCS Housing Project(HP)</h6>
            <h6> <b> 7)</b> MRMCS Residential Schools, Colleges,& University</h6>
            <h6> <b> 8)</b> MRMCS Ashram's (Old Age Homes) Hospital's, Clinic's, & Dispensaries, Yoga & Meditation
                Centers,
                Games,
                Sports & Libraries</h6>
            <h6> <b> 9)</b> MRMCS Time Share Cottages, Resorts, Hotels, Hostels, Canteens,Call Taxi, Tour's & Travels.
            </h6>
            There is a vast scope for see saw change in the members families on enrollment
            themselves as member of Marathwada Region Middle Class Society ( MRMCS ).
            The feasibility of this projects was discussed with several socio economic thinkers
            and they raised their eyebrows on knowing the idea of this well knitted projects. There is a
            lot of appreciation for the projects from the ideologists. Nothing is impossible in this magic
            world provided you put up your bit of effort. No wonder it we say that the projects win
            receive the best attention of the public in all walks of life. We have vision and you have
            dynamism, if both are coupled with it will make wonders. This is what we wish and intend to
            achieve.
        </div>
    </div>
    <section class="services section-padding" id="services" href="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2 class="service-title">Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <h3 class="card-title">MRMCS retails</h3>
                            <p class="lead">Retail Stalls & Mega Hyper Market in Pathri Sector by
                                providing special offer life time</p>
                            <p><a class="btn btn-primary mt-3" href="reatails.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Rural
                                Economy & Agricultural Development </h3>
                            <p class="lead">Our vision is to provide Day to Day service to MRMCS Business units.</p>
                            <p><a class="btn btn-primary mt-3" href="rural.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Small Scale & Cottage
                                Industries </h3>
                            <p class="lead">Our vision is to run Cottage Industries for women and girls.
                            </p>
                            <p><a class="btn btn-primary mt-3" href="cottage.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Inter State & Inter District General Trading </h3>
                            <p class="lead">ISIDGT Units is planned to purchase seasonal crops from small farmers.</p>
                            <p><a class="btn btn-primary mt-3" href="interstate.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Small Financial & Micro Finance Services </h3>
                            <p class="lead">Small farmers will be paid 10% as advance amount.</p>
                            <p><a class="btn btn-primary mt-3" href="smallfinancial.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Housing Project </h3>
                            <p class="lead">Our MRMCS Company proposed and planned to acquire more than 500 Acers
                                of land in Pathri Sector.</p>
                            <p><a class="btn btn-primary mt-3" href="housing.html">View More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Residential Schools, Colleges,& University </h3>
                            <p class="lead"></p>
                            <p><a class="btn btn-primary mt-3" href="Residential.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Ashram's</h3>
                            <p class="lead">Old
                                Age Homes, Hospital's, Clinic's, & Dispensaries, Yoga & Meditation Centers, Games,
                                Sports & Libraries </p>
                            <p><a class="btn btn-primary mt-3" href="ashram.html">View More</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-black text-center bs-success">
                        <div class="card-body">
                            <i class=""></i>
                            <h3 class="card-title">MRMCS Time Share Cottages </h3>
                            <p class="lead">Resorts, Hotels, Hostels, Canteens,
                                Call Taxi, Tour's & Travels.</p>
                            <p><a class="btn btn-primary mt-3" href="timeshare.html">View More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container wow">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-divider">
                        <p class="section-description">
                        <h3 class="section-title">About Us</h3>
                        <h6 class="about-h6">MRMCS SPECIALOFFER LIFE TIME 9 MAJOR BENEFITS</h6>
                        </p>
                        <div class="paragraph-container">
                            <div class="about-p1">
                                1) 2.0 lakhs worth of accidentally death insurance, from any group insurance
                                company and yearly premium will be paid by our MRMCS Company for the
                                period of 15 years.
                            </div>
                            <div class="about-p2">2) FREE education for 1 child in our proposed MRMCS Residential
                                Schools in
                                Pathri Sector from 1st standard to 10 th standard and for the academic year
                                24-25 admissions will be given for only 1 St to 5 th standard and for the
                                academic year 25-26 admissions will be given for 6th to 10th standard.
                            </div>
                            <div class="about-p3">3) FREE medical checkup in our proposed MRMCS Dispensaries & Hospitals
                                in Pathri Sector 24-25</div>
                            <div class="about-p4">4) Credit Facility up to Rs, 5000/- to Rs, 10,000/- to purchase
                                Groceries, General
                                goods and pharma in our proposed MRMCS Business units, Unit Retail Stalls
                                and Mega Hyper Market .</div>
                            <div class="about-p5">5) Immediate Employment in our MRMCS Company 9 major service providers
                                and in so called operation "For Your Service"( permanent Job opportunities as
                                per his/ her qualification with good salary)</div>
                            <div class="about-p6">6) Old Age Home for senior citizens with World Class facilities in our
                                proposed
                                MRMCS Ashram's by 24-25 in Pathri Sector.(FREE Food & Accommodation
                                with Hospital Facility)
                            </div>
                            <div class="about-p7">7) Day to Day service to consumer members door step for their daily
                                needs, this
                                service is totally FREE.</div>
                            <div class="about-p8">8) All the consumer members of our MRMCS Business units, Unit Retail
                                Stalls
                                and Mega Hyper Market are invited on the eve of New Year celebrations on
                                every 31st December ie ; 2023 to 2037 </div>
                            <div class="about-p9">9) All the consumer members are eligible for seeking residential flats
                                and
                                independent houses in our MRMCS proposed Housing project (Mega Township)
                                90% Subsidy will be given to MRMCS Housing Project (HP) consumer partner
                                member Beneficiaries on purchase of residential flats and 80% Subsidy on
                                purchase of Independent Houses in our proposed MRMCS Housing Project (HP
                                Mega Township) at Pathri Sector, parbhani District, Maharashtra State, India. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </section>
    <section class="contact section-padding" id="contact">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2 class="contact-us">Contact Us</h2>
                        <i class="bi bi-geo-alt">
                            <p>Gala No : 6, Celler Ashpak complex, Gulf auto Mobiles <br>
                                Parbhani Road Pathri Town, Taluka pathri, <br>
                                DIST. Parbhani, Maharashtra State.</p>
                        </i>
                        <i class="bi bi-envelope-at-fill">
                            <p>mrmcs2023@gmail.com</p>
                        </i>
                    </div>
                </div>
            </div>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Gala No : 6, Celler Ashpaka complex, Gulf auto Mobiles Parbhani Road Pathri Town
                &amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    </iframe><a href="https://connectionsgame.org/">Connections NYT</a>
                </div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        width: 100%;
                        height: 400px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        width: 100%;
                        height: 400px;
                    }

                    .gmap_iframe {
                        width: 100% !important;
                        height: 400px !important;
                    }
                </style>
            </div>
            <div class="row m-0">
                <div class="col-md-12 p-0 pt-4 pb-4">
                </div>
            </div>
        </div>

    </section>

    <footer class=" c-color text-white pt-3 pb-4 " id="footer-text">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <i class="bi bi-buildings" style="font-size: 3rem"></i>
                    <h1 class="text-uppercase md-4 font-weight-bold bs-success">MRMCS</h1>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <i class="bi bi-person-lines-fill" style="font-size: 1.5rem"></i>
                    <h5 class="text-uppercase mb-4 font-weight-bold bs-success">Contact</h5>
                    <div>
                        <i class="bi bi-telephone-plus">0123-4567-8910</i>
                    </div>
                    <div>
                        <i class="bi bi-envelope-at">mrmcs@gmail.com</i>
                    </div>



                </div>

            </div>
            <div class="c-icon">
                <i class="bi bi-facebook" style="font-size: 1rem;"></i>
                <i class="bi bi-messenger" style="font-size: 1rem"></i>
                <i class="bi bi-whatsapp" style="font-size: 1rem"></i>
                <i class="bi bi-youtube" style="font-size: 1rem"></i>
            </div>

        </div>


    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>