<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">
<title>mrmcs.in</title>
<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,200&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    <div id="nav" class="nav-div fixed-top">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <!-- <img class="navbar-logo" src="" alt="logo"> -->
                <a class="navbar-brand" href="#"><span class="text-warning">Mrmcs</span>.in</a>
                <button class="navbar-toggler" type="" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                            <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Services
                            </a> -->

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html#services">Services</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html#contact">Contact Us <span
                                    class="toggle" id="toggle-contact"></span></a>
                        </li>
                    </ul>
        </nav>
    </div>
    <div class="body-paragraph">
        <h1>MRMCS Small Financial & Micro Finance Services</h1>
        <p>Our vision is to uplift below poverty line people (BPL) middle class people
            (MCP) through our MRMCS Small financial & Micro Finance Services for their life style
            achievements especially to purchase Home needs, General Goods, Electronics, Groceries
            and pharma in our proposed Unit Retail Stalls and Mega Hyper Market. And by providing
            financial assistance through Nationalised Banks, NBFC's and Private Banking Sectors to
            our consumer partner member Share Holders for seeking Housing Loans and personal
            Loans to purchase Residential Flats and Independent Houses in our proposed MRMCS
            Housing Project ( HP ) Township at Pathri Sector in 1st phase by 23 -28 in Parbhani District,
            Maharashtra State, India.</p>

        <img class="d-block w-50 "src="\component\images\image-1.jpg" alt="">
        
            <p>How can we get Free consumer membership in MRMCS Business units, Unit
                Retail Stalls and Mega Hyper Market ?
                Any member who he/she is agreeing above 18 years are eligible to become
                consumer members by purchasing ₹ 2500/- worth of Groceries in our proposed
                MRMCS Unit Retail Stalls and Mega Hyper Market in Pathri Sector, Parbhani
                District, Maharashtra State, India. After purchasing Goods members will be given
                Free consumer membership for life time in our MRMCS Business units, Unit Retail
                Stalls and Mega Hyper Market and all the consumer members are eligible for
                seeking Spe.</p>
    </div>
   

<footer class=" c-color text-white pt-3 pb-4 ">
<div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <i class="bi bi-buildings" style="font-size: 3rem"></i>
            <h1 class="text-uppercase md-4 font-weight-bold bs-success" >MRMCS</h1>

        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <i class="bi bi-person-lines-fill" style="font-size: 1.5rem"></i>
            <h5 class="text-uppercase mb-4 font-weight-bold bs-success">Contact</h5>
            <div>
                <i class="bi bi-telephone-plus">0123-4567-8910</i>
            </div>
            <div>
                <i class="bi bi-envelope-at">mrmcs@gmail.com</i>
            </div>


            
        </div>
        
    </div>
    <div class="c-icon">
        <i class="bi bi-facebook"style="font-size: 1rem;"></i> 
        <i class="bi bi-messenger" style="font-size: 1rem"></i>
        <i class="bi bi-whatsapp" style="font-size: 1rem"></i>
        <i class="bi bi-youtube" style="font-size: 1rem"></i>
        </div>

</div>


</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    
</body>
</html>