.navbar{
	padding: 1rem;
	background-color: #fff;
	box-shadow: 1px 0px 3px;

}

.nav-link{
	font-weight: 400;
	font-weight: bolder;
	position: relative;
}

.nav-link:hover{
    color: #e4480af2 !important;
}

.text-warning{
	/* font-family: "proxima-nova","sans-serif"; */
	font-weight: 900;

}

@media(max-width:900px){
	.navbar-toggler{
		color: #fff;

	}
	.nav-item{
		font-weight: bolder;
	}
	.navbar{
		padding: 1rem;
		background-color: #fff;
		box-shadow: 1px 0px 3px;
	}

}